<div class="formulario-container">

  <h2>
    Registrar Personal
  </h2>


  <form>

    <div class="fila">

      <div class="campo">
        <label>
          Nombres
        </label>

        <input
          type="text"
          placeholder="Ingrese nombres"
          name="nombres"
          [(ngModel)]="personal.nombres"
        >
      </div>



      <div class="campo">

        <label>
          Apellidos
        </label>

        <input
          type="text"
          placeholder="Ingrese apellidos"
          name="apellidos"
          [(ngModel)]="personal.apellidos"
        >

      </div>

    </div>

    <div class="fila">


      <div class="campo">

        <label>
          Usuario
        </label>

        <input
          type="text"
          placeholder="Nombre de usuario"
          name="username"
          [(ngModel)]="personal.username"
        >

      </div>



      <div class="campo">

        <label>
          Correo
        </label>

        <input
          type="email"
          placeholder="correo@ejemplo.com"
          name="correo"
          [(ngModel)]="personal.correo"
        >

      </div>


    </div>

    <div class="fila">


      <div class="campo">

        <label>
          Contraseña
        </label>

        <input
          type="password"
          placeholder="Contraseña"
          name="password"
          [(ngModel)]="personal.password"
        >

      </div>


      <div class="campo">

        <label>
          Teléfono
        </label>

        <input
          type="text"
          placeholder="999999999"
          name="telefono"
          [(ngModel)]="personal.telefono"
        >

      </div>


    </div>

    <div class="campo">

      <label>
        Rol
      </label>


      <select
        name="rol"
        [(ngModel)]="personal.rol"
      >

        <option value="">
          Seleccione un rol
        </option>

        <option value="ADMIN">
          Administrador
        </option>

        <option value="RECEPCION">
          Recepcionista
        </option>


      </select>


    </div>

    <button
      type="submit"
      class="btn-guardar"
    >
      Guardar Personal
    </button>


  </form>

</div>