<div class="tarjeta-clinica">
  <div class="cabecera-tabla cabecera-azul">
    <h3>Personal Médico - Personal Registrado</h3>
    <a class="btn btn-nuevo" routerLink="/doctores/nuevo">+ Registrar Médico</a>
  </div>
  
  <table class="tabla-datos">
    <thead>
      <tr>
        <th>ID</th>
        <th>Doctor(a)</th>
        <th>Especialidad</th>
        <th>Teléfono</th>
        <th>Correo Electrónico</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let d of doctores">
        <td>{{ d.id }}</td>
        <td class="texto-negrita">Dr(a). {{ d.nombres }} {{ d.apellidos }}</td>
        <td>{{ d.especialidad }}</td>
        <td>{{ d.telefono }}</td>
        <td>{{ d.correo }}</td>
        <td>
          <button class="btn btn-editar" (click)="editarDoctor(d)">Editar</button>
          <button class="btn btn-eliminar" (click)="eliminarDoctor(d.id)">Eliminar</button>
        </td>
      </tr>
      <tr *ngIf="doctores.length === 0">
        <td colspan="6" class="tabla-vacia">
          No hay médicos registrados en el sistema.
        </td>
      </tr>
    </tbody>
  </table>
</div>